#servicing {
  border: 1px solid black;
  width: 80%;
  margin-left: 15%;
  margin-top: 20px;
}

form {
  margin-left: 5px;
  margin-top: 5px;
}
#labels {
  padding: 10px;
  margin-left: 40px;
}
input,
textarea {
  float: right;
  margin-right: 100px;
}

#buttons {
  margin-left: 30%;
}
